.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.cardImage {
  align-self: center;
  border-radius: 16px;
  width: 40%;
}

.cardContactInfo {
  display: flex;
  align-items: center;
  height: 25px;
}

.cardContactInfo p {
  margin-left: 8px;
}

.cardFooter {
  margin-top: auto;
}
